:root {
    --primary: teal;
    --secondary: white;
    --tertiary: black;
    --wrong: red;
    --correct:green;
    font-size:larger;
}

body div{
    /* background-color:black; */
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box{
    margin: 20px 0;
    background-color: black;
    color:white;
}

body {
    background-color:var(--tertiary);
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
div h2{
    display: flex;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

header {
    text-align: center;
    color:var(--secondary);
    background-color: var(--tertiary);
    margin: 0 auto;
}
.answers{
    display:grid;
    margin:20 px 0;
}
.question{
    background-color: var(--secondary);
    color:var(--tertiary);
}

.btn{
    display:grid;
    margin:20px 0;
    background-color: var(--secondary);
    border-radius: 5px;
    outline:none;
}
.btn:hover{
    color:teal;
}
.start-button, .next-button{
    font-size: 1.5rem;
    font-weight: bold;
    padding:10px;
    margin:20px 0;
}
.hide{
    display:none;
}
.score { 
    display: flex;
    position: absolute;
    left: 20px;
    width: 300px;
    padding: 10px;
}


/* answers {

} */
/* .box{
    width:2000px;
    max-width: 100%;
    background-color: black;
    color:var(--secondary);
    
} */
/* .question-box{
    width:2000px;
    max-width: 100%;
    background-color: black;
    color:var(--secondary);
    
} */